@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Css commun à toutes les pages : */
*{
    margin: 0;
    padding: 0;

}
html{
    font-size: 16px;
}
body{
    background: #E1E1E1;
    color: #1E1E1E;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 3rem;
}
.container{
    margin: 25vh 0 0;
    width: 100%;
    height: 100%;
}
.title{
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Version Blanche*/
.container.blanc{
    background: #E1E1E1;
    color: #1E1E1E;
}

/* Version Noire*/
.container.noir{
    background: #1E1E1E;
    color: #E1E1E1;
}
.container.noir .button{
    color: #1E1E1E;
    background: #E1E1E1;
}
.container h2{
    font-weight: lighter;
    font-size: 2rem;
    margin: 10vh 0 1vh;
}
.button{
    font-size: 1.5rem;
    padding : 0.75rem 0 0.75rem;
    margin: 0 0 3vh;
    width: 15rem;
    text-decoration: none;
    color: #E1E1E1;
    background: #1E1E1E;
    border-radius: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s;
}
.button:hover{
    opacity: 0.8;
}

/* Bouton Maison (components)*/
.maison-bouton {
    position: absolute;
    top: 3rem;
    left: 3rem;
    display: inline-block;
    text-decoration: none;
}
.maison-image {
    width: 3rem;
    height: 3rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.maison-image:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

/*Plateau (components)*/
.plateau-container {
    width: 50rem;
    height: 50rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quadrillage {
    width: 50rem;
    height: 50rem;
    display: block;
}

/* Version Blanc */
.container .quadrillage .contour{
    stroke : #1E1E1E;
}
.container .numerotation{
    fill: #1E1E1E;
}

/* Version Noir */
.container.noir .quadrillage .contour{
    stroke : #E1E1E1;
}
.container.noir .numerotation{
    fill: #E1E1E1;
}
/* Barre de selection de taille (components) */
.container .bar-container{
    margin : 5vh 0 5vh;
    display: flex;
    justify-content: space-between;
    width: 50%;
    background-color: #1E1E1E;
    border-radius: 75px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.container .tailleValeur {
    width: 0.75vw;
    height: 0.75vw;
    border-radius: 50%;
    background-color: #E1E1E1;
    border:none;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgb(30, 30, 30);
}
.container .tailleValeur.select {
    transform: scale(2);
}
.container .tailleValeur:hover {
    transform: scale(2.5);
}

/*Version Noire*/
.container.noir .bar-container{
    background-color: #E1E1E1;

}
.container.noir .tailleValeur {
    background-color: #1E1E1E;
    box-shadow: 0 4px 6px rgb(225, 225, 225);
}

/* Menu */
.container.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container.menu .title{
    margin: 0 0 6rem;
}

/* Règles */
.container.regles{
    margin:0;
}
.title-outside {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2vh;
    padding-top:10vh;
    color: #333;
}
.container.regles section{
    max-width: 70vw;
    margin: 0 auto;
    padding: 1.5vw;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.container.regles .commentJouer {
    background-color: #f9f9f9;
}
.container.regles .presenteSite {
    background-color: #2c2c2c;
    color: #d6d6d6;
}
.container.regles .commentJouer ol {
    color: #444;
}
.container.regles li {
    margin-bottom: 1vh;
    font-size: 1.1rem;
}
.container.regles p {
    font-size: 1.2rem;
    line-height: 1.6;
}
.container.regles .commentJouer p {
    color: #555;
}
.container.regles .presenteSite p {
    padding-top:1vh;
}
.container.regles a{
    color: #007bff;
    text-decoration: none;
}
.container.regles a:hover {
    text-decoration: underline;
}
.container.regles .presenteSite ul {
    margin-left: 1vw;
    padding-left: 1vw;
}
.premierPdePresentation{
    padding-bottom:1vh;
}

/* ChoixJoueurs */
.container.choixJoueurs .button-container{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: 3rem 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* ChoixCamp */
.container.choixCamp h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    background: linear-gradient(to right, #e1e1e1 50%, #1e1e1e 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container.choixCamp {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
}
.container.choixCamp .choix-container {
    display: flex;
    width: 100%;
    height: 100%;
}
.container.choixCamp .choix-container p {
    margin-top: 4rem;
    font-size: 3.8rem;
}
.container.choixCamp .choix {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container.choixCamp .choix.blanc {
    background-color: #1E1E1E;
    color: #E1E1E1;
}
.container.choixCamp .choix.noir {
    background-color: #E1E1E1;
}
.container.choixCamp .choix-container button {
    margin-top: 11vh;
    width: 8vw;
    height: 8vw;
    border: none;
    border-radius: 50%;
}
.container.choixCamp .choix-container button {
    transition: 0.3s ease-out;
}
.container.choixCamp .choix-container button:hover {
    opacity: 0.8;
    transform: scale(1.3)
}
.container.choixCamp .choix.blanc button{
    background-color: #E1E1E1;
}
.container.choixCamp .choix.noir button {
    background-color: #1E1E1E;
}

/* ChoixTaillePlateau */
.container.choixTaillePlateau{
    margin : 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.container.choixTaillePlateau h2{
    margin : 15vh 0 6vh;
    font-size: 3rem;
}
.container.choixTaillePlateau p{
    font-size: 1.5rem;
    font-weight: 500;
}
.container.choixTaillePlateau .plateau-container {
    width: 25rem;
    height: 25rem;
}
.container.choixTaillePlateau .quadrillage {
    width: 25rem;
    height: 25rem;
}

/* Jeu */
.container.jeu {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 1s ease-in-out;
}
.container.jeu .title{
    margin: 1vh;
    font-size: 4rem;
    font-weight: 600;
}
.container.jeu .button{
    margin: 0;
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-weight: bold;
}
.container.jeu .historique{
    position: absolute;
    font-size: 1rem;
    text-align: left;
    bottom: 3rem;
    left: 3rem;
}





/* Media queries , Merci de laisser ceci à la fin du Css^^ */

/* Téléphone (petit) */
@media (max-width: 480px) {
    html{
        font-size: 6px;
    }
    .container.jeu .historique {
        font-size: 2rem;
    }
}
/* Téléphone */
@media (min-width: 481px) and (max-width: 767px) {
    html{
        font-size: 7px;
    }
    .container.jeu .historique {
        font-size: 2rem;
    }
}
/* Tablette (petit) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    html{
        font-size: 10px;
    }
}
/* Tablette */
@media screen and (min-width: 1025px) and (max-width: 1279px) {
    html{
        font-size: 12px;
    }
}
/* === Ordinateurs (petits écrans) === */
@media screen and (min-width: 1280px) and (max-width: 1440px) {
    html{
        font-size: 14px;
    }
}
/* === Ordinateurs (écrans moyen )=== */
@media screen and (min-width: 1441px) and (max-width: 1920px) {
    html{
        font-size: 15px;
    }
}