@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;

}
body{
    margin: 7em 0 0;
    background: #E1E1E1;
    color: #1E1E1E;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 3em;
}
.container.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container.menu .title{
    margin: 0 0 1em;
}

.title{
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.container.choixJoueurs .question{
    font-weight: lighter;
    font-size: 1.30em;
    margin: 0.5em 0 1em;
}

.button{
    font-size: 0.50em;
    padding : 0.5em 0 0.5em;
    width: 10em;
    margin: 0 0 1.25em;
    text-decoration: none;
    color: #E1E1E1;
    background: #1E1E1E;
    border-radius: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s;
}
.button:hover{
    opacity: 0.8;
}
.container.choixJoueurs .button-container{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 1em 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.container.choixJoueurs .button.retour {
    position: absolute;
    top: 1em;
    left: 1em;
    width: auto;
    font-size: 0.5em;
    padding: 0.25em 1em;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}